<h2>Users</h2>

<div class="panel panel-default">

  <div class="Panel-body">
    <table class="table">
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Access</th>
        </tr>
        <tr>
        </tr>
        <tr>
          <% User.all.each do |user| %>
          <td>
            <%= user.name %>
          </td>
          <td>
            <%= user.email%>
          </td>
        </tr>
        <% yield %>
        <% end %> 
    </table>
  </div>
</div>

</br>
<%=link_to "Back to Edit", :back %>
