<h1 class="text-justify">Collaborators</h1>

<p>You must first enroll as a premium user before you can add or view potential collaborators!</p>


<%= link_to 'New Collaborator', new_wiki_collaborator_path %>
</br>



<%= link_to 'Back', wikis_path(@wiki) %>
